<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Inicial</title>
    <style>
        body {
            font-family: system-ui, sans-serif;
            background: #f0f2f5;
            display: grid;
            place-content: center;
            height: 100vh;
            margin: 0;
        }
        .card {
            background-color: aquamarine;
            padding: 2%;
            border-radius: 10;
            box-shadow: inset;
            text-align: center;

        }
        
        
        


